@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hurricane&family=Road+Rage&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Lobster&family=Staatliches&display=swap');


body{
    margin: 0;
    padding: 0;

}

.logo {
    color: white;
    font-size: 40px;
    padding: 0 50px;
    line-height: 50px;
    font-weight: bold;
    font-family: 'Hurricane', cursive;
    text-decoration: none;
    cursor: pointer;
    background-color: black;
}

nav {
    width: 100%;
    height: 40px;
    background-color: black;
    margin: auto;
    position: fixed;
    letter-spacing: 2px;
    z-index: 2;
    padding: 20px;
    top: 0;
}

.nav-bar {
    float: right;
    display: flex;

}

.nav-bar a{
    color: white;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    margin-right: 50px;
    text-decoration: none;
    font-family: 'Staatliches', cursive;
    padding: 0 20px;

}

.nav-bar a:hover{
    background-color: rosybrown;
    background-size: cover;

}
.background-galleries img{
    position: absolute;
    left: 0;
    object-fit: cover;
    opacity: 0.7;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    min-height: 100vh;
}

.overlay{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
    position: absolute;
    top: 0;
}

.insert-info-gallery{
    position: absolute;
    display: grid;
    top: 20%;
    left: 10%;
}
#expand-gallery-form {
    background: linear-gradient(greenyellow,deepskyblue);
    border-style: none;
    font-family: 'Staatliches', cursive;
    font-size: 20px;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    cursor: pointer;

}

#expand-gallery-form:hover{
    background: linear-gradient(hotpink,red);
}


#create-gallery-form{
    background: transparent;
    color: white;
    font-size: 20px;
    font-family: 'Staatliches', cursive;
    letter-spacing: 2px;

}

#create-gallery-form input{
    padding: 10px;
    border-radius: 3px;
}

.insert-info-gallery button{
    background: linear-gradient(greenyellow,deepskyblue);
    padding: 10px;
    border-style: none;
    border-radius: 3px;
    cursor: pointer;
    font-family: 'Staatliches', cursive;
    font-size: 15px;
    color: white;


}

.insert-info-gallery button:hover{
    background: linear-gradient(hotpink,red);

}

.insertinfo-box{
    display: flex;
    position: absolute;
    top: 30%;
    left: 30%;
    font-family: 'Staatliches', cursive;
    font-size: 20px;
    color: white;
}

.header-fixed{
    height: 500px;
    overflow: auto;
    margin-top: 30px;
}

table{
    border-collapse: collapse;
}

th, td{
    border: 1px solid white;
    padding: 10px 30px;
    letter-spacing: 2px;
}

::-webkit-scrollbar{
    width: 6px;
}
::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}





.card {
    display: flex;
    border: solid black 2px;
}

.cardinfo {
    padding-left: 1rem;
    padding-right: 1rem;
}

.cardimage img{
    width: 10rem;
    height: 10rem;
}

